/*
  These styles are used  by the webwidgets tags.
  You can choose to include this file into your project vebatim, or include the appropriate styles, modified to your requirements.
*/

.ww_closed { display: none; }
.ww_maximized .ww_maxButton, .ww_maximized .ww_expandButton, .ww_minimized .ww_minButton, .ww_minimized .ww_contractButton { display: none }
.ww_minimized .ww_maxButton, .ww_minimized .ww_expandButton { display: inline; }
.ww_minimized .ww_minimizable { display :none; }

.ww_boxIcon { float: right; }

/*
  Standard Buttons
*/
.ww_button {}
.ww_minButton:before      { content: url('ww_minimize.png'); }
.ww_maxButton:before      { content: url('ww_maximize.png'); }
.ww_closeButton:before    { content: url('ww_close.png'); }
.ww_contractButton:before { content: url('ww_contract.png'); }
.ww_expandButton:before   { content: url('ww_expand.png'); }

/*
  Quotes
*/
.ww_quote:before { content: "“"; }
.ww_quote:after { content: "”"; }

.ww_quote2:before { content: url('beginQuote.png'); white-space: nowrap; }
.ww_quote2:after { content: url('endQuote.png'); white-space: nowrap; }

/*
  Tree
*/
.ww_treeNodeButton { float: left; }
.ww_tree .ww_treeNodeLabel { font-weight: bold; margin-left: 20px; padding: 1px 0px 3px 0px; }
.ww_tree .ww_treeNodeContent, .ww_tree .ww_treeNodeLastContent { padding: 2px 0px 4px 20px; }
.ww_tree .ww_treeNodeContent { background: repeat-y 6px 0px url(ww_verticalDots.png); }

