/* This file contains styles that should probably NOT be changed by application writers */
/* See also the example.css for styles which SHOULD be changed by application writer */

.ww_treeNodeButton { float: left; }
.ww_treeNodeButton a img { vertical-align: baseline; }
.ww_tree .ww_treeNodeLabel { font-weight: bold; margin-left: 20px; padding: 1px 0px 3px 0px; }
.ww_tree .ww_treeNodeContent, .ww_tree .ww_treeNodeLastContent { padding: 2px 0px 4px 20px; }
.ww_tree .ww_treeNodeContent { background: repeat-y 6px 0px url(ww_verticalDots.png); }


.ww_closed { display: none; }
.ww_maximized .ww_maxButton, .ww_minimized .ww_minButton { display: none }
.ww_minimized .ww_maxButton { display: inline; }
.ww_minimized .ww_minimizable { display :none; }

.ww_boxIcon { float: right; }
