
/*
  Tag : box
*/
.purpleBox { border: 1px solid #000; color: #fff; }
.purpleBox .ww_boxTitle{ padding: 1em; border-bottom: 1px solid #000; background: #303; }
.purpleBox .ww_boxContent{ padding: 1em; background: #616; }


/*
  Tag : edges
  Using the edges tag, you can specify a background image for :
    top left, top center, top right, middle left, content, middle right, bottom left, bottom center and bottom right.
  You can use images for each, to create any kind of edges you want.
*/
.doubleEdged {} 
.doubleEdged .ww_top .ww_center { background: #f00; height: 4px;  }
.doubleEdged .ww_top .ww_left { background: #ccc; padding-left: 8px; }
.doubleEdged .ww_top .ww_right { background: #ccc; padding-right: 8px; }
.doubleEdged .ww_content { background: #fff; padding: 1em; }
.doubleEdged .ww_middle .ww_left { background: #d00; padding-left: 4px; }
.doubleEdged .ww_middle .ww_right { background: #008; padding-right: 4px; }
.doubleEdged .ww_bottom .ww_center { background: #800; height: 4px;  }
.doubleEdged .ww_bottom .ww_left { background: #ccc; padding-left: 8px; }
.doubleEdged .ww_bottom .ww_right { background: #ccc; padding-right: 8px; }

