/*
  This style sheet contains the styles specific to the webwidgets documentation.
  There is nothing in here which you need to use from your own webapp
  (unless you want you app to look like the webwidgets documentation).
*/

/* Layout */

#whole { width: 980px; margin: 0 auto; }
#header { text-align: center; }
#logo { margin: 2em 0; }
#logo p { margin: 0; padding: 0; }

#tabs .ww_tab { float: left; }
#tabs .ww_tab a { display: block; padding: 20px 2em; }
#belowTabs { clear: both; }
.tabs .ww_tab { float: left; }
.tabs .ww_tab a { display: block; padding: 10px 1em; }

#main { margin: 1em 0; }

#navigation { float: left; width: 200px; padding: 40px 1em; }

#content { float:right; width: 650px; }
#content { padding: 50px 2em; }

#belowColumns { clear: both; }
#footer { text-align: center; padding: 1em; }

/* Tags */

h1, h2, h3, h4 { margin: 0; padding: 0;  }
h1 { margin: 0 0 1em 0; }
h2 { margin: 1em 0; }
h2 { margin-bottom: 20px; padding: 0 0 12px 0; }
h3 { margin: 2em 0 1em 0; }
#navigation h2 { padding: 0 0 12px 15px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
ul { padding: 0; margin: 0; list-style: none; }
ul li { padding: 0; margin: 1em 0; }
ul li:before{ padding: 0 0.7em; content: "-"; }

table { border-collapse: collapse; }
td, th { border: 1px solid #666; padding: 4px 8px; text-align: left; font-weight: normal; }

pre { padding: 1em; overflow: scroll; }

/* Class Styles */


/* Fonts */
#logo { font-family: 'Arvo', serif; font-size : 24px; letter-spacing: -1px; text-transform: uppercase; font-weight: bold; }
#main { font-family: Vedana, sans; font-size: 14px; }
p { line-height: 150%; }
h1, h2, h3, h4 { font-family: 'Arvo', serif; font-weight: normal; }
h1 { font-size: 28px; font-weight: bold; }
h2 { font-size: 24px; font-weight: normal; }
h3 { font-size: 18px; font-weight: normal; }
#tabs { text-transform: uppercase; font-size: 12px; }
#tabs a { text-decoration: none; }
.tabs a { text-decoration: none; }

/* Colors */

body { background: #000; color: #fff; }
a { color: #e44; }
#navigation a, #footer a { color: #888; }
#main { background: #fff; color: #222; border: 1px solid #bbb; border-radius: 2px; }
td { color: #222;  }
th { background: #ddd; color: #333; }
#logo a { color: #fff; text-decoration: none; }

#tabs .ww_tabSelected { background: url('tab.jpg'); }
#tabs .ww_tab a { color: #eee; }
#tabs .ww_tab a:hover { color: #fff; }
.tabs .ww_tabSelected { background: url('tab.jpg'); }
.tabs .ww_tab a { color: #333; }
.tabs .ww_tab a:hover { color: #000; }
.tabs .ww_tabSelected a, .tabs .ww_tabSelected a:hover { color: #fff; }

h2 { border-bottom: 1px solid #bbb; }
ul li:before{ color: #aaa; }
pre { border: 1px solid #333; background: #ccc; }

.mainBox { border: 1px solid #444; padding: 1em; background: #f8f8f8; }
.mainBox .ww_boxTitle { font-size: 16pt; background: #888; color: #000; padding: 0.5em; border: 1px solid #eee; }

.tabsContent { clear: both; border: 1px solid #333; background: #eee; padding: 1em; }

/*
  ------------------- Examples -------------------
  The following styles are mearly examples used by the documentation of webwidgets
*/

/*
  Tag : box
*/
.purpleBox { border: 1px solid #000; color: #fff; }
.purpleBox .ww_boxTitle{ padding: 1em; border-bottom: 1px solid #000; background: #303; }
.purpleBox .ww_boxContent{ padding: 1em; background: #616; }


/*
  Tag : edges
  Using the edges tag, you can specify a background image for :
    top left, top center, top right, middle left, content, middle right, bottom left, bottom center and bottom right.
  You can use images for each, to create any kind of edges you want.
*/
.doubleEdged {} 
.doubleEdged .ww_top .ww_center { background: #f00; height: 4px;  }
.doubleEdged .ww_top .ww_left { background: #ccc; padding-left: 8px; }
.doubleEdged .ww_top .ww_right { background: #ccc; padding-right: 8px; }
.doubleEdged .ww_content { background: #fff; padding: 1em; }
.doubleEdged .ww_middle .ww_left { background: #d00; padding-left: 4px; }
.doubleEdged .ww_middle .ww_right { background: #008; padding-right: 4px; }
.doubleEdged .ww_bottom .ww_center { background: #800; height: 4px;  }
.doubleEdged .ww_bottom .ww_left { background: #ccc; padding-left: 8px; }
.doubleEdged .ww_bottom .ww_right { background: #ccc; padding-right: 8px; }

/*
  ------------------- End Examples -------------------
*/

@media (max-width: 1000px) {
  #whole { width: 100%; }
  #content { float: none; width: inherit; margin-left: 2em; margin-right: 2em; }
  #navigation { float: none; width: inherit; margin-top: 2em; }
  #navigation ul { line-height: 200%; }
  #navigation ul li { display: inline; padding: 0 1em 0 0; }
  #navigation ul li:before{ padding: 0; content: ""; }
}

